.save_form {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style_input {
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
    min-width: 500px;
    border-radius: 5px;
    background-color: purple;
}

.div_input {
    margin: 10px auto;
    background-color: purple;
}

h3, h4 {
    text-align: center;
    font-style: italic;
    margin: 10px 5px;
    font-size: 22px;
}

h1 {
    text-align: center;
}
